@charset "UTF-8";
@font-face {
  font-family: "Oxanium";
  src: url("./fonts/Oxanium/Oxanium-VariableFont_wght.woff2") format("woff2"), url("./fonts/Oxanium/Oxanium-VariableFont_wght.ttf") format("ttf");
}
@font-face {
  font-family: "WorkSans";
  src: url("./fonts/Work_Sans/WorkSans-VariableFont_wght.woff2") format("woff2"), url("./fonts/Work_Sans/WorkSans-VariableFont_wght.ttf") format("ttf");
}
.container {
  max-width: 1440px;
  padding-left: 80px;
  padding-right: 80px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 146px;
}
.header nav {
  display: flex;
  align-items: center;
}
.header-right {
  display: flex;
  gap: 180px;
}
.header-nav {
  display: flex;
  gap: 64px;
  font-weight: 500;
  font-size: 18px;
}
.header-nav a {
  color: inherit;
  text-decoration: none;
}
.header-nav .active a {
  color: rgb(255, 206, 78);
}
.header-nav li {
  cursor: pointer;
}

.hero {
  display: flex;
  margin-bottom: 182px;
  position: relative;
  gap: 100px;
}
.hero > div:nth-child(1) {
  flex: 52%;
}
.hero-buttons {
  display: flex;
  gap: 48px;
  margin-bottom: 120px;
}
.hero h1 {
  font-size: 76px;
  color: rgb(245, 251, 242);
  margin-top: 32px;
  margin-bottom: 78px;
}
.hero h1 span {
  color: rgb(255, 206, 78);
}
.hero-counters {
  display: flex;
}

.nft {
  max-height: 718px;
}
.nft-wrapper {
  max-height: 718px;
  position: relative;
}
.nft-top {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 44px);
  opacity: 95%;
  margin: 24px 22px 0 22px;
  padding: 18px 40px;
  background: linear-gradient(92.8deg, rgba(255, 137, 61, 0.09) -52.37%, rgba(250, 250, 250, 0.9) 137.41%);
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.12);
  position: absolute;
  top: 0;
  -webkit-backdrop-filter: blur(45px);
          backdrop-filter: blur(45px);
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.12);
  background: linear-gradient(145deg, rgba(255, 137, 61, 0.09) 0%, rgba(250, 250, 250, 0.9) 100%);
  opacity: 0.95;
}
.nft-top-text {
  color: rgb(228, 222, 231);
  font-size: 18px;
  font-weight: 500;
}
.nft-top-value {
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.nft-bottom {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 34px 40px 35px 60px;
  position: absolute;
  width: 100%;
  bottom: 0;
}
.nft-bottom-text {
  color: rgb(22, 9, 27);
  font-weight: 600;
  font-size: 28px;
}
.nft-bottom-username {
  color: rgb(89, 77, 94);
  font-size: 24px;
}

.blur {
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  background: rgba(79, 70, 78, 0.45);
  position: absolute;
  top: 0;
  width: 48%;
  height: 1063px;
  z-index: -10;
  right: 0;
}

.arrow {
  position: absolute;
  width: 156px;
  height: 156px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(109, 91, 114, 0.4);
  box-shadow: 0px 14px 79px 0px rgba(134, 19, 165, 0.1019607843);
  bottom: -105px;
  left: 54%;
  transform: translate(-50%, 0);
  z-index: -11;
}

.button {
  border: 1px solid rgb(255, 206, 78);
  padding: 22px 30px;
  color: rgb(255, 206, 78);
  font-weight: 600;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
  transition: all ease-in-out 200ms;
  width: -moz-fit-content;
  width: fit-content;
}
.button:hover {
  background-color: #271b2b;
}

.yellow {
  background-color: rgb(255, 206, 78);
  color: black;
}
.yellow:hover {
  background-color: rgba(255, 192, 33, 0.685);
}

.white {
  background-color: transparent;
  color: inherit;
}
.white:hover {
  background-color: #271b2b;
}

.large {
  width: 260px;
  padding: 24px 76px;
  font-size: 28px;
}

.big {
  padding: 24px 76px;
  font-size: 28px;
}

.medium {
  padding: 22px 58px;
  font-size: 24px;
  width: 246px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-button {
  width: 100%;
  border: 1px solid #fde8b3;
  background: rgba(233, 215, 167, 0.1019607843);
  font-weight: 500;
  font-size: 24px;
  color: inherit;
}

.hidden {
  display: none;
}

.counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.counter .value {
  font-weight: 700;
  font-size: 62px;
  color: rgb(245, 251, 242);
}
.counter .description {
  font-size: 24px;
  color: rgb(155, 158, 154);
}

.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 104px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 84px;
}
.title-text {
  position: relative;
  font-weight: 700;
  font-size: 64px;
}
.title-text::after {
  content: "";
  width: 110px;
  height: 110px;
  border-radius: 50%;
  display: block;
  position: absolute;
  background-color: transparent;
  top: 50%;
  left: -40px;
  transform: translateY(-50%);
  z-index: -1;
}
.title-text.purple::after {
  background-color: #8613A5;
}
.title-text.red::after {
  background-color: #E03054;
}

.auction {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  background: linear-gradient(336.61deg, #251928 16.25%, rgba(37, 25, 40, 0) 91.6%);
}
.auction-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 84px;
  width: calc(100% - 80px);
  margin-left: 80px;
}

.mantine-Carousel-controls {
  display: flex;
  justify-content: end !important;
  gap: 28px;
  position: absolute;
  top: -96px !important;
  color: black;
  margin-right: 80px !important;
}

.mantine-Carousel-control {
  background-color: transparent !important;
  border: none !important;
  border-radius: none !important;
}

.mantine-Carousel-control[data-inactive=true] {
  opacity: 0.25 !important;
  cursor: default !important;
}

.card {
  background-color: #3d2942;
  max-width: 495px;
  padding: 32px 32px 28px 32px;
}
.card-image-wrapper {
  position: relative;
  margin-bottom: 28px;
}
.card-image-wrapper img {
  height: 359px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-timer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(125.33deg, #8613a5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
  font-size: 24px;
  font-weight: 600;
  padding: 16px 46px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1215686275);
}
.card-info-main img {
  width: 54px;
  height: 54px;
}
.card-info-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.card-info-user {
  display: flex;
  gap: 16px;
}
.card-info-likes {
  display: flex;
  gap: 9px;
  font-size: 32px;
  color: #76607a;
  align-items: center;
}
.card-info-likes img {
  width: 28px;
  height: 26px;
}
.card-info-title {
  font-size: 28px;
  font-weight: 500;
}
.card-info-username {
  font-size: 20px;
  color: #bdaac1;
}
.card-info-bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.card-info-bid-text {
  color: #c6bfc8;
  font-size: 24px;
}
.card-info-bid-price {
  font-size: 24px;
  font-weight: 700;
}
.card-info-button {
  width: 100%;
}

.works {
  margin-bottom: 174px;
  margin-top: 174px;
}
.works-cards {
  display: flex;
  justify-content: space-between;
  padding: 0 70px;
  margin-bottom: 32px;
}
.works-cards-text {
  display: flex;
  justify-content: space-between;
  color: rgb(255, 206, 78);
  font-size: 24px;
  font-weight: 600;
}
.works-cards-text p {
  width: 20%;
  text-align: center;
}
.works-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  text-align: center;
}
.works-card p {
  color: rgb(255, 206, 78);
  font-size: 24px;
  font-weight: 600;
}
.works-card-image {
  background-color: #372839;
  height: 106px;
  width: 106px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cl-card {
  background-color: #3d2942;
  max-width: 525px;
  padding: 36px;
}
.cl-card-image-wrapper {
  position: relative;
  margin-bottom: 28px;
}
.cl-card-image-wrapper img {
  height: 272px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cl-card-info-main img {
  width: 64px;
  height: 64px;
}
.cl-card-info-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
  align-items: center;
}
.cl-card-info-main p {
  color: #C2B5C6;
  font-size: 20px;
  font-weight: 600;
}
.cl-card-info-user {
  display: flex;
  gap: 16px;
  align-items: center;
}
.cl-card-info-main .cl-card-info-username {
  font-size: 32px;
  color: #F5FBF2;
}

@keyframes filterAnimation {
  0% {
    filter: brightness(100%) blur(0);
  }
  100% {
    filter: brightness(70%) blur(3px);
  }
}
@keyframes reverseFilterAnimation {
  0% {
    filter: brightness(70%) blur(3px);
  }
  100% {
    filter: brightness(100%) blur(0);
  }
}
.cat-card {
  background-color: #3d2942;
  max-width: 495px;
  padding: 32px 32px 28px 32px;
}
.cat-card .cat-card-image-wrapper img {
  filter: brightness(100%) blur(0);
  animation: none;
}
.cat-card:hover .cat-card-button {
  opacity: 1;
}
.cat-card:hover .cat-card-image-wrapper img {
  animation: filterAnimation 0.2s ease-in-out forwards;
}
.cat-card:not(:hover) .cat-card-image-wrapper img {
  animation: reverseFilterAnimation 0.2s ease-in-out forwards;
}
.cat-card:not(:hover) .cat-card-button {
  opacity: 0;
}
.cat-card-image-wrapper {
  position: relative;
  margin-bottom: 28px;
}
.cat-card-image-wrapper img {
  height: 359px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.cat-card-timer {
  position: absolute;
  bottom: 0;
  background: linear-gradient(125.33deg, #8613a5 18.61%, rgba(250, 250, 250, 0.65) 137.4%);
  font-size: 24px;
  font-weight: 600;
  padding: 16px 46px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.1215686275);
}
.cat-card-info-main img {
  width: 54px;
  height: 54px;
}
.cat-card-info-main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 28px;
}
.cat-card-info-user {
  display: flex;
  gap: 16px;
}
.cat-card-info-likes {
  display: flex;
  gap: 9px;
  font-size: 32px;
  color: #76607a;
  align-items: center;
}
.cat-card-info-likes img {
  width: 28px;
  height: 26px;
}
.cat-card-info-title {
  font-size: 28px;
  font-weight: 500;
}
.cat-card-info-username {
  font-size: 20px;
  color: #bdaac1;
}
.cat-card-info-bid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cat-card-info-bid-text {
  color: #c6bfc8;
  font-size: 24px;
}
.cat-card-info-bid-price {
  font-size: 24px;
  font-weight: 700;
}
.cat-card-info-button {
  width: 100%;
}

.popular {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 104px;
}

.categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  padding-top: 80px;
  background: #251928;
}
.categories-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-bottom: 84px;
  width: calc(100% - 80px);
  margin-left: 80px;
}

.creators {
  padding-bottom: 80px;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.creators-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 56px 72px;
  margin-bottom: 80px;
}

.cr-card {
  background-color: #302034;
  padding: 26px 64px 26px 30px;
  box-shadow: 2px 0px 0px 0px #E03054 inset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
}
.cr-card-left {
  display: flex;
  gap: 24px;
  align-items: center;
}
.cr-card-info {
  display: flex;
  flex-direction: column;
}
.cr-card-right {
  height: 100%;
  border-left: 3px solid #49374E;
  padding: 12px 0 12px 46px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
.cr-card-main {
  font-size: 32px;
  letter-spacing: 2px;
  font-weight: 600;
}
.cr-card-sub {
  color: #BDAAC1;
  font-size: 24px;
  font-weight: 500;
}

.newsletter {
  position: relative;
  padding: 80px 0 120px 0;
  background: linear-gradient(179.78deg, rgba(28, 18, 31, 0.1882352941) 9.98%, rgba(28, 18, 31, 0.21) 81.39%);
  z-index: 1;
  position: relative;
}
.newsletter::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./../images/Pattern.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}
.newsletter-inputs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
  margin-bottom: 30px;
}
.newsletter-input {
  padding: 28px 20px 26px 54px;
  background-color: transparent;
  border: 1px solid rgb(255, 206, 78);
  font-size: 24px;
  color: #a48ea9;
  outline: none;
}
.newsletter-input::-moz-placeholder {
  color: #a48ea9;
}
.newsletter-input::placeholder {
  color: #a48ea9;
}
.newsletter form {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background: #251928;
  display: flex;
  justify-content: space-between;
  padding: 116px 0;
}
footer .lists {
  display: flex;
  gap: 226px;
}
footer .lists div h4 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
}
footer .lists div ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .lists div ul li a {
  color: #96839b;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}
footer .lists div ul li a:hover {
  text-decoration: underline;
}
footer .left {
  display: flex;
  align-items: start;
  gap: 50px;
}
footer .main {
  max-width: 390px;
  display: flex;
  flex-direction: column;
  gap: 52px;
}
footer .main p {
  color: #96839b;
  font-size: 20px;
  font-weight: 500;
}
footer .main .copyrights {
  font-weight: 400;
}
footer .icons {
  display: flex;
  align-items: center;
  gap: 36px;
}
footer .icon:hover {
  filter: brightness(0) saturate(100%) invert(98%) sepia(21%) saturate(5065%) hue-rotate(192deg) brightness(105%) contrast(101%);
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
}

/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
  margin: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Oxanium";
  background-color: #1C121F !important;
  color: rgb(245, 251, 242) !important;
}/*# sourceMappingURL=App.css.map */