footer {
  background: #251928;
  display: flex;
  justify-content: space-between;
  padding: 116px 0;

  .lists {
    display: flex;
    gap: 226px;

    & div h4 {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 32px;
    }

    & div ul {
      display: flex;
      flex-direction: column;
      gap: 20px;

      & li a {
        color: #96839b;
        text-decoration: none;
        font-size: 20px;
        font-weight: 500;

        &:hover{
            text-decoration: underline;
        }
      }
    }
  }

  .left {
    display: flex;
    align-items: start;
    gap: 50px;
  }

  .main {
    max-width: 390px;
    display: flex;
    flex-direction: column;
    gap: 52px;

    p {
      color: #96839b;
      font-size: 20px;
      font-weight: 500;
    }

    .copyrights {
      font-weight: 400;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 36px;
  }

  .icon {
    &:hover {
      filter: brightness(0) saturate(100%) invert(98%) sepia(21%)
        saturate(5065%) hue-rotate(192deg) brightness(105%) contrast(101%);
    }
  }
}
