@import "./../styles/media";

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 38px;
  margin-bottom: 146px;

  nav {
    display: flex;
    align-items: center;
  }

  &-right{
   display: flex;
   gap: 160px;
  }

  &-nav {
    display: flex;
    gap: 64px;
    font-weight: 500;
    font-size: 18px;

    .active {
      color: $primary;
    }

    li {
      cursor: pointer;
    }
  }
}
