.newsletter {
    position: relative;
    padding: 80px 0;
    background: linear-gradient(179.78deg, #1c121f30 9.98%, rgba(28, 18, 31, 0.21) 81.39%);

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("./../images/Pattern.png");
        background-size: cover;
        background-repeat: no-repeat;
        opacity: 0.5; // Прозорість для background-image
        z-index: 0; // Забезпечує, що псевдоелемент залишається під контентом
    }

    // Зміщує весь контент newsletter над псевдоелементом
    z-index: 1;
    position: relative;
}
