.title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 84px;
  
    &-text {
      position: relative;
      font-weight: 700;
      font-size: 64px;
    }
  
    &-text::after {
      content: "";
      width: 110px;
      height: 110px;
      border-radius: 50%;
      display: block;
      position: absolute;
      background-color: transparent;
      top: 50%;
      left: -40px;
      transform: translateY(-50%);
      z-index: -1; 
    }

    &-text.purple::after{
      background-color: #8613A5;
    }

    &-text.red::after{
        background-color: #E03054;
    }

  }
  